<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>ANIMATIONS_TITLE</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>useTickAnimation</string>
			<key>label</key>
			<string>ANIM_TICKTOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>useShine</string>
			<key>label</key>
			<string>ANIM_SHINETOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ANIM_FOOTER_TEXT</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>useFasterAnimations</string>
			<key>label</key>
			<string>ANIM_FASTTOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>useLoadingStateForScanning</string>
			<key>label</key>
			<string>ANIM_LOADINGTOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ANIM_ONLYDEFAULT_LABEL</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>useHoldToReaderAnimation</string>
			<key>label</key>
			<string>ANIM_HOLDTOREADERTOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
	</array>
</dict>
</plist>
