<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL_HEADER_TEXT</string>
			<key>footerText</key>
			<string>GENERAL_FOOTER_TEXT</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>GENERAL_LOCKGLYPHTOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>useUnlockSound</string>
			<key>label</key>
			<string>GENERAL_UNLOCKSNDTOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>shouldNotDelay</string>
			<key>label</key>
			<string>GENERAL_UNLOCKIMEDTOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FAILUNLOCK_HEADER_TEXT</string>
			<key>footerText</key>
			<string>FAILUNLOCK_FOOTER_TEXT</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>vibrateOnIncorrectFinger</string>
			<key>label</key>
			<string>FAILUNLOCK_VIBRATETOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>shakeOnIncorrectFinger</string>
			<key>label</key>
			<string>FAILUNLOCK_SHAKETOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>BEHAVIOUR_TITLE</string>
</dict>
</plist>
