<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>LockGlyphX</string>
	<key>items</key>
	<array>
		
		<!-- Header -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		
		<!-- Behaviour -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LockGlyphXPrefsBehaviourController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>FIRST_BEHAVIOUR_LABEL</string>
		</dict>
		
		<!-- Appearance -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LockGlyphXPrefsAppearanceController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>FIRST_APPEARANCE_LABEL</string>
		</dict>
		
		<!-- Animations -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LockGlyphXPrefsAnimationsController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>FIRST_ANIMATIONS_LABEL</string>
		</dict>
		
		<!-- Support -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>LGXButtonCell</string>
			<key>label</key>
			<string>REPORT_ISSUE_BUTTON</string>
			<key>icon</key>
			<string>issues.png</string>
			<key>id</key>
			<string>issueButton</string>
			<key>action</key>
			<string>issueButton</string>
		</dict>
		
		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>FIRST_CREDITS_LABEL</string>
			<key>detail</key>
			<string>LockGlyphXPrefsCreditsController</string>
			<key>isController</key>
			<true/>
		</dict>
		
		<!-- Footer -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>/lock glyph ten/

© 2017</string>
		</dict>
		
	</array>
	
</dict>
</plist>
