<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>BEHAVIOUR_TITLE</string>
	<key>items</key>
	<array>

		<!-- Unlock Sound -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>GENERAL_UNLOCKSNDSELECTION_LABEL</string>
			<key>detail</key>
			<string>LockGlyphXPrefsSoundItemsController</string>
			<key>key</key>
			<string>unlockSound</string>
			<key>titlesDataSource</key>
			<string>soundTitles</string>
			<key>valuesDataSource</key>
			<string>soundValues</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
			<key>staticTextMessage</key>
			<string>SOUND_FOOTER</string>
		</dict>

		<!-- Unlock Immediately -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>GENERAL_FOOTER_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>shouldNotDelay</string>
			<key>label</key>
			<string>GENERAL_UNLOCKIMEDTOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>

		<!-- Failed Unlock Action -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FAILUNLOCK_HEADER_TEXT</string>
			<key>footerText</key>
			<string>FAILUNLOCK_FOOTER_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>vibrateOnIncorrectFinger</string>
			<key>label</key>
			<string>FAILUNLOCK_VIBRATETOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>shakeOnIncorrectFinger</string>
			<key>label</key>
			<string>FAILUNLOCK_SHAKETOGL_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>

		<!-- Music Controls -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MUSICCONTROLS_HEADER_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>hideWhenMusicControlsAreVisible</string>
			<key>label</key>
			<string>MUSICCONTROLS_HIDE_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>moveBackWhenMusicControlsAreVisible</string>
			<key>label</key>
			<string>MUSICCONTROLS_MOVEBACK_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>sizeWhenMusicControlsAreVisible</string>
			<key>label</key>
			<string>MUSICCONTROLS_SIZE_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>

	</array>
</dict>
</plist>
