<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>APPEARANCE_TITLE</string>
	<key>items</key>
	<array>

		<!-- Theme Chooser -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>LGXThemeLinkCell</string>
			<key>label</key>
			<string>THEMES_THEMESELECT_LABEL</string>
			<key>detail</key>
			<string>LockGlyphXThemeController</string>
		</dict>

		<!-- Hide Ring -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>shouldHideRing</string>
			<key>label</key>
			<string>APPEARANCE_HIDE_RING_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>

		<!-- Position -->
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LockGlyphXPrefsPositionController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>POSITION_LABEL</string>
		</dict>
        <!-- Use Custom Size -->
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>LGXSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.evilgoldfish.lockglyphx</string>
            <key>key</key>
            <string>enableSize</string>
            <key>label</key>
            <string>FINGERSIZE_TOGL_LABEL</string>
            <key>PostNotification</key>
            <string>com.evilgoldfish.lockglyphx.settingschanged</string>
        </dict>
        <!-- Custom Size -->
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>FINGERSIZE_VALUE_LABEL</string>
            <key>defaults</key>
            <string>com.evilgoldfish.lockglyphx</string>
            <key>key</key>
            <string>customSize</string>
            <key>PostNotification</key>
            <string>com.evilgoldfish.lockglyphx.settingschanged</string>
        </dict>
				<!-- Use Custom Size Music -->
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>LGXSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.evilgoldfish.lockglyphx</string>
            <key>key</key>
            <string>enableSizeWithMusic</string>
            <key>label</key>
            <string>FINGERSIZE_TOGLMUSIC_LABEL</string>
            <key>PostNotification</key>
            <string>com.evilgoldfish.lockglyphx.settingschanged</string>
        </dict>
        <!-- Custom Size Music -->
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>FINGERSIZE_VALUEMUSIC_LABEL</string>
            <key>defaults</key>
            <string>com.evilgoldfish.lockglyphx</string>
            <key>key</key>
            <string>customSizeWithMusic</string>
            <key>PostNotification</key>
            <string>com.evilgoldfish.lockglyphx.settingschanged</string>
        </dict>

		<!-- Custom Colors -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
            <string>COLOURS_HEADER_TEXT</string>
		</dict>
		<!-- Glyph Color -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFColorCell</string>
			<key>label</key>
			<string>COLOURS_IDLECOLOUR_LABEL</string>
			<key>color_defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>color_key</key>
			<string>secondaryColor</string>
			<key>title</key>
			<string>COLOURS_IDLECOLOUR_LABEL</string>
			<key>color_fallback</key>
			<string>#CCCCCC</string>
			<key>usesRGB</key>
			<true/>
			<key>usesAlpha</key>
			<true/>
			<key>color_postNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<!-- Scan Color -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFColorCell</string>
			<key>label</key>
			<string>COLOURS_SCANCOLOUR_LABEL</string>
			<key>color_defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>color_key</key>
			<string>primaryColor</string>
			<key>title</key>
			<string>COLOURS_SCANCOLOUR_LABEL</string>
			<key>color_fallback</key>
			<string>#FFFFFF</string>
			<key>usesRGB</key>
			<true/>
			<key>usesAlpha</key>
			<true/>
			<key>color_postNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<!-- Apply To Custom Glyphs -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LGXSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.lockglyphx</string>
			<key>key</key>
			<string>applyColorToCustomGlyphs</string>
			<key>label</key>
			<string>COLOURS_IDLECOLOUR_OVERRIDE_LABEL</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.lockglyphx.settingschanged</string>
		</dict>
		<!-- Reset Colors -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>resetColorsButton</string>
			<key>action</key>
			<string>resetColors</string>
			<key>label</key>
			<string>COLOURS_RESET_LABEL</string>
		</dict>

        <!-- Press Home To Unlock -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>LOCKLABEL_HEADER_TEXT</string>
        </dict>
		<!-- Hide text -->
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>LGXSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.evilgoldfish.lockglyphx</string>
            <key>key</key>
            <string>hidePressHomeToUnlockLabel</string>
            <key>label</key>
            <string>LOCKLABEL_DISABLED_LABEL</string>
            <key>PostNotification</key>
            <string>com.evilgoldfish.lockglyphx.settingschanged</string>
        </dict>
		<!-- Use custom text -->
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>LGXSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.evilgoldfish.lockglyphx</string>
            <key>key</key>
            <string>overridePressHomeToUnlockText</string>
            <key>label</key>
            <string>LOCKLABEL_CUSTOM_TEXT_ENABLED_LABEL</string>
            <key>PostNotification</key>
            <string>com.evilgoldfish.lockglyphx.settingschanged</string>
        </dict>
		<!-- Custom text -->
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>LOCKLABEL_CUSTOM_TEXT_LABEL</string>
            <key>defaults</key>
            <string>com.evilgoldfish.lockglyphx</string>
            <key>key</key>
            <string>pressHomeToUnlockText</string>
            <key>PostNotification</key>
            <string>com.evilgoldfish.lockglyphx.settingschanged</string>
        </dict>
	</array>
</dict>
</plist>
